@{
  Layout = "_Layout";
}

@using StackUnderflow.Models


<div class="row">
  <div class="col-md-12">
    @if(@Model == null)
    {
      <p>No Forums currently.</p>
    }
    else
    {
      <h3><span style="color: orange;">stack</span><strong>underflow</strong></h3>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Forum</th>
          <th scope="col" class="text-right">Topics</th>
          <th scope="col" class="text-right">Last Post</th>
        </tr>
        </thead>
        @foreach(Forum forum in Model)
        {
          <tr>
            <td scope="row">
              <strong>@Html.ActionLink($"{@forum.Name}", "Show", "Forums", new { id = @forum.ForumId })</strong>
              <br>
              @forum.Description
            </td>
            <td class="text-right">@forum.Threads.Count</td>
            <td class="text-right">Placeholder</td>
          </tr>
        }
      </table>
    }
  </div>
</div>