@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <p class="lead">Welcome to the discussion!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>General</strong>
      </div>
      <div class="card-body">
        Testing
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>General</strong>
      </div>
      <div class="card-body">
        Testing
      </div>
    </div>
  </div>
</div>